<div class="page-header">
  <h3>Users #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </dl>

    <div class="page-header">
        <dl class="dl-horizontal">
          <h3>My photos</h3>

          <% @user_photo.each do |picture| %>
          <tr>
            <td><%= picture.caption %></td>
              <td><img src ="<%= picture.image %>" width="600"</td>
        <%end%>
        </div>

      </div>
    </div>
